<!DOCTYPE html>
<html lang="en">

<head>
    <title>Single Listing</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="styles/single_listing_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/single_listing_responsive.css">
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-light bg-dark">
                    <h5 class="modal-title" id="reviewModalLabel"> R E V I E W S</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-light">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary form-control" data-dismiss="modal">G O &ensp;&ensp; B
                        A C K</button>
                </div>
            </div>
        </div>
    </div>

    <div class="super_container">
        <!-- Header -->
		<header class="header">
			<!-- Top Bar -->
			<div class="top_bar">
				<div class="container">
					<div class="row">
						<div class="col d-flex flex-row">
							<div class="phone">+91 9427822506</div>
							<div class="social">
								<ul class="social_list">
									<li class="social_list_item"><a href="#"><i class="fa fa-pinterest"
												aria-hidden="true"></i></a></li>
									<li class="social_list_item"><a href="#"><i class="fa fa-facebook"
												aria-hidden="true"></i></a></li>
									<li class="social_list_item"><a href="#"><i class="fa fa-twitter"
												aria-hidden="true"></i></a></li>
									<li class="social_list_item"><a href="#"><i class="fa fa-dribbble"
												aria-hidden="true"></i></a></li>
									<li class="social_list_item"><a href="#"><i class="fa fa-behance"
												aria-hidden="true"></i></a></li>
									<li class="social_list_item"><a href="#"><i class="fa fa-linkedin"
												aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="user_box ml-auto">
								<% if (username !="" ) { %>
									<div class="user_box_login user_box_link"><a href="/logout">Logout</a></div>
									<div class="user_box_register user_box_link"><a href="exp/profile" data-toggle="modal"
											data-target="#profileModal">
											<%= username %>
										</a></div>
									<% } else { %>
										<div class="user_box_login user_box_link"><a href="#" data-toggle="modal"
												data-target="#userloginModal">login</a></div>
										<div class="user_box_register user_box_link"><a href="#" data-toggle="modal"
												data-target="#registerModal">register</a></div>
									<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Navigation -->
			<nav class="main_nav">
				<div class="container">
					<div class="row">
						<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<div class="logo"><a href="#" style="font-weight: bold;"><span style="color: white;">
											PT</span><span style="color: red;">S<span
												style="color: red; text-transform: lowercase;">'s</span></span></div>
							</div>
							<div class="main_nav_container ml-auto">
								<ul class="main_nav_list">
									<li class="main_nav_item"><a href="/">home</a></li>
									<li class="main_nav_item"><a href="about">about us</a></li>
									<li class="main_nav_item"><a href="offers">offers</a></li>
									<li class="main_nav_item"><a href="blog">news</a></li>
									<li class="main_nav_item"><a href="contact">contact</a></li>
								</ul>
							</div>
							<div class="content_search ml-lg-0 ml-auto"></div>
							<div class="hamburger">
								<i class="fa fa-bars trans_200"></i>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- toggle button  -->
		<div class="menu trans_500">
			<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
				<div class="menu_close_container">
					<div class="menu_close"></div>
				</div>
				<div class="logo menu_logo"><a href="#" style="font-weight: bold;"><span style="color: white;">
							PT</span><span style="color: black;">S<span
								style="text-transform: lowercase;">'s</span></span></div>
				<ul>
					<li class="menu_item"><a href="/">home</a></li>
					<li class="menu_item"><a href="about">about us</a></li>
					<li class="menu_item"><a href="offers">offers</a></li>
					<li class="menu_item"><a href="blog">news</a></li>
					<li class="menu_item"><a href="contact">contact</a></li> <br>
					<li class="menu_item"><a href="" href="#" data-toggle="modal" data-target="#userloginModal"><span
								style="color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
								login </span></a></li>
					<li class="menu_item"><a href="" href="#" data-toggle="modal" data-target="#registerModal"><span
								style="color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
								register </span></a></li>
				</ul>
			</div>
		</div>
            <!-- Home -->
            <div class="home">
                <div class="home_background parallax-window" data-parallax="scroll"
                    data-image-src="images/single_background.jpg"></div>
                <div class="home_content">
                    <div class="home_title">the Lists</div>
                </div>
            </div>
            <!-- Offers -->
            <div class="listing">
                <!-- Search -->
                <%- include('./search.ejs') %>
                    <!-- Single Listing -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_listing">
                                    <!-- Rooms -->
                                    <div class="rooms">
                                        <% bus.forEach(bus=> { %>
                                            <!-- Room -->
                                            <div class="room" style="border: 2px solid black; border-radius: 20px;">
                                                <!-- Room -->
                                                <div class="row pt-3 px-3">
                                                    <div class="col-lg-3">
                                                        <div class="room_image mt-1"><a
                                                                href="/busImage?id=<%= bus.Bus._id %>"><img
                                                                    src="../images/<%= bus.Bus.Image %>"
                                                                    alt="https://unsplash.com/@grovemade"
                                                                    style="border-radius: 20px 0px 0px 20px;"></a></div>
                                                    </div>
                                                    <div class="col-lg-6 text-dark mt-2">
                                                        <table width="100%">
                                                            <tr>
                                                                <th colspan="2" >
                                                                    <h3 class="text-danger">
                                                                        <%= bus.Bus.BusName %>
                                                                    </h3>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>From:</strong>
                                                                    <%= bus.from %>
                                                                </td>
                                                                <td colspan="2">
                                                                    <strong>To:</strong>
                                                                    <%= bus.to %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Pickup:</strong>
                                                                    <%= bus.pickup %>
                                                                </td>
                                                                <td colspan="2">
                                                                    <strong>Drop:</strong>
                                                                    <%= bus.drop %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Total Seat:</strong>
                                                                    <%= bus.Bus.Capacity %>
                                                                </td>
                                                                <td colspan="2"> <strong>Price:</strong>
                                                                    <%= bus.Price %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h4>
                                                                        <strong>Date:</strong>
                                                                        <%= bus.on.toDateString() %>
                                                                    </h4>
                                                                </td>
                                                                <td colspan="2"><strong>Bus Type:</strong>
                                                                    <%= bus.Bus.BusType %>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-3 text-lg-center">
                                                        <div class="room_button">
                                                            <a href="#" class=" btn btn-info form-control"
                                                                data-toggle="modal" data-target="#reviewModal"> Reviews
                                                            </a>
                                                        </div>
                                                        <div class="room_button">
                                                            <% if(bus.on >= new Date()) { %>
                                                                <a href="/seetlist?busId=<%= bus.Bus._id %>&timeId=<%= bus._id %>"  class="btn btn-primary form-control mb-3 disabled">book<span></span><span></span><span></span></a>
                                                            <% } else { %>
                                                                <a href="/seetlist?busId=<%= bus.Bus._id %>&timeId=<%= bus._id %>"  class="btn btn-primary form-control mb-3">book<span></span><span></span><span></span></a>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('./footer.ejs') %>
            </div>
            <%- include('modal') %>
	        <%- include('script') %>
</body>
</html>